body {
    /* 1em = 16px */
    /* font-size: 16px; */
    position: relative;
    background-color: #e8e8e8;
}

.article-main .article-sec {
    padding-top: 10px;
    padding-bottom: 20px;
}

.article-main figure.article-fig-main>img {
    /* object-fit: contain; */
}


/* h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

p {
    font-family: monospace, Arial, Helvetica, sans-serif;
} */