body {
    /* 1em = 16px */
    /* font-size: 16px; */
    position: relative;
    background-color: #e8e8e8;
}

.article-main .article-sec {
    padding-top: 10px;
    padding-bottom: 20px;
}

.article-main figure.article-fig-main>img {
    /* object-fit: contain; */
}

.sidebar {
    overflow-y: scroll;
    max-height: calc(125vh - 9rem);
}

.text-decoration,
.text-decoration:hover {
    text-decoration: none !important;
    color: inherit;
}

.toc {
    padding-top: 48px;
    list-style-type: none;
}

.toc a,
.toc-submenu a {
    color: rgba(0, 0, 0, 0.80);
    font-weight: 400;
    padding-left: 16px;
    line-height: 1.5rem;
    display: inline-block;
    text-decoration: none;
}

.toc a.active,
.toc-submenu a.active {
    font-weight: 500;
    padding-left: 13px;
    border-left: 3px solid #009688;
}

.toc-submenu {
    padding-left: 18px;
    padding-top: 0px;
}


/* 
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

p {
    font-family: monospace, Arial, Helvetica, sans-serif;
} 
*/