{% extends "base.html" %}

{% block head %}
    <title> Algo Roots | Home</title>
{% endblock head %}

{% block main_content %}


    <section class="container">
        <div class="jumbotron text-center">
            <h1 class="display-4">Learn, Practice, and Ace It</h1>
            <p class="lead">Learn and practice data structures and algorithms in order to prepare for an exam or a technical interview. We cover the fundamentals of computer science and advanced topics with new content added all the time.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>

            <hr class="my-4">
            <p>Mobile and desktop app comming soon!</p>
            <div class="pt-2">
                <a class="btn btn-primary btn-lg btn-outline-primary waves-effect disabled" href="#" role="button" tabindex="-1" aria-disabled="true">Download our Android App</a>
                <a class="btn btn-primary btn-lg btn-outline-primary waves-effect disabled" href="#" role="button" tabindex="-1" aria-disabled="true">Download our Desktop App</a>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Learn</h5>
                        <p class="card-text">Explore computer science fundamentals as well as advanced topics.</p>
                        <a class="btn btn-primary" href="#">Data Structures</a>
                        <a class="btn btn-primary" href="#">Algorithms</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Practice</h5>
                        <p class="card-text">Ready to take your newly learned skills to the test. Find exersise for any topic of your choice. We have the best excercieses that will help you with an interview or an exam.</p>
                        <a class="btn btn-primary" href="#">Data Structures</a>
                        <a class="btn btn-primary" href="#">Algorithms</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock main_content %}