                <ul class="sticky-top toc">
                    

                    {% if  reference %}
                    
                    <li class="toc-item my-1"><a class="" href="#reference">Reference</a></li>
                    {% endif %}
                    
                    {% for section in sections %}
                    <li class="toc-item my-1"><a class="" href="#{{ section.title|slugify }}">{{ section.title }}</a></li>
                    
                        {% if section.has_subsections %}
                        <li class="my-1">
                            <ul class= "toc toc-submenu">
                                {% for subsection in sub_sections %}
                                {% if subsection.section.id == section.id %}
                                
                                <li class="toc-item my-1"><a class="" href="#{{ subsection.title|slugify }}">{{ subsection.title }}</a></li>
                                
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </li>

                        {% endif %}
                    {% endfor %}

                    {% if resources %}
                        <li class="toc-item my-1"><a class="" href="#resources">Resources</a></li>
                    {% endif %}
                    
                </ul>