{% extends "base.html" %}
{% load static %}

{% block head %}
    <title> Algo Roots | Learn</title>
{% endblock head %}

{% block main_content %}



    <!-- Start Main Page Content -->
    <section class=" container mt-0 mt-md-5">
        <!-- Start Main Page Row -->
        <div class="row">

            

            <div class="col-md-9 mb-3">
                <div class="container article-main">
                
                    <figure class="embed-responsive embed-responsive-16by9 article-fig-main">
                        <img class="card-img-top m-0 p-0 embed-responsive-item rounded" src="{% static "media/"  %}{{ article.image_upload.url }}"  alt="">
                    </figure>

                    <div class="mb-5 article-title">
                        <h1>{{ article.title }}</h1>
                    </div>

                    <div class="article-sec" id="reference">
                        <h2>Reference</h2>
                        

                            <div class="my-3 d-flex align-items-center justify-content-center">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="col-md-2"></th>
                                            <th class="col-md-2">Best</th>
                                            <th class="col-md-2">Average</th>
                                            <th class="col-md-2">Worst</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="col-md-2">Insert</th>
                                            <td class="col-md-2">{{ complexity.insert_best }}</td>
                                            <td class="col-md-2">{{ complexity.insert_avg }}</td>
                                            <td class="col-md-2">{{ complexity.insert_worst }}</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-2">Search</th>
                                            <td class="col-md-2">{{ complexity.search_best }}</td>
                                            <td class="col-md-2">{{ complexity.search_avg }}</td>
                                            <td class="col-md-2">{{ complexity.search_worst }}</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-2">Delete</th>
                                            <td class="col-md-2">{{ complexity.delete_best }}</td>
                                            <td class="col-md-2">{{ complexity.delete_avg }}</td>
                                            <td class="col-md-2">{{ complexity.delete_worst }}</td>
                                        </tr>
                                         <tr>
                                            <th class="col-md-2">Space</th>
                                            <td class="col-md-2">{{ complexity.space_best }}</td>
                                            <td class="col-md-2">{{ complexity.space_avg }}</td>
                                            <td class="col-md-2">{{ complexity.space_worst }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>



                        

                        <div>
                            {% if strengths %}
                            <h4>Strengths:</h4>
                            <ul>
                                {% for listItem in strengths %}
                                    <li><p>{{ listItem.desc }}</p></li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                            {% if weaknesses %}
                            <h4>Weaknesses:</h4>
                            <ul>
                               {% for listItem in weaknesses %}
                                    <li><p>{{ listItem.desc }}</p></li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                        </div>

                    </div>
                    <hr class="clearfix">

                    

                    {% for section in sections %}
                    <div class="mb-0 article-sec" id="{{ section.title|slugify }}">
                        <h2>{{ section.title }}</h2>

                        {% if section.sec_text != section.sec_text.empty%}
                            <p>{{ section.sec_text}}</p>
                        {% endif %}


                        {% if section.has_subsections %}
                        
                        {% for subsection in sub_sections %}
                        
                        <h3 id="{{ subsection.title|slugify }}" >{{ subsection.title}}</h3>
                        <p>{{subsection.subsec_text}}</p>

                        {% endfor %}
                        {% endif %}
                    </div>

                    <hr class="clearfix">
                    {% endfor %}

                    {% if resources %}
                    <div class="mb-0 article-sec" id="resources">
                        <h2>Resources and Citations</h2>

                        <ul>
                            {% for resource in resources %}
                            <li>
                                <p><a href="{{ resource.url }}">{{ resource.source_name }}</a></p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    {% endif %}


                </div>
            </div>

            <div class="col-sm-3 d-none d-md-block">

                {% include "toc.html" with reference="True" sections=sections  sub_sections=sub_sections resources=resources%}

            </div>


        </div>
        <!-- End Main Page Row -->



    </section>
    <!-- End Main Page Content -->

{% endblock main_content %}