{% extends "base.html" %}
{% load static %}

{% block head %}
    <title> Algo Roots | Learn - Categories</title>
{% endblock head %}

{% block main_content %}


    <!-- Start Main Page Content -->
    <section class="container mt-0 mt-md-5">
        <!-- Start Main Page Row -->
        <div class="row">

            <div class="col-md-3 ">
                {% include "left-sidenav.html" with collapsed="True"%}
            </div>


            <!-- Category Selection -->
            <div class="col-md-9 mb-3">



                <!-- Start Section -->
                <section class="ds-sec">


                    <!-- Start Section Text-->
                    <div class="container mb-1">
                        <h3 class="font-weight-bold" id="data-structures-sec">Data Structures</h3>

                    </div>
                    <hr class="clearfix">
                    <!-- End Section Text-->

                    <!-- Start Row of 3 Cards -->
                    <div class="row container my-3">

                        <!-- Start Card Col-->
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="card">
                                <a class="streched-link" href="#"></a>
                                <img src="{% static "vsc-no-track/example.png" %}" class="card-img-top d-none d-md-block" alt="Test alt">
                                <div class="card-body text-center">
                                    <h5 class="card-title"> Topic </h5>
                                    <!-- <p class="card-text">Extra Text</p> -->
                                </div>
                            </div>
                        </div>
                        <!-- End Card Col-->

                        <!-- Start Card Col-->
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="card">
                                <a class="streched-link" href="#"></a>
                                <img src="{% static "vsc-no-track/example.png" %}" class="card-img-top d-none d-md-block" alt="Test alt">
                                <div class="card-body text-center">
                                    <h5 class="card-title"> Topic </h5>
                                    <!-- <p class="card-text">Extra Text</p> -->
                                </div>
                            </div>
                        </div>
                        <!-- End Card Col-->

                        <!-- Start Card Col-->
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="card">
                                <a class="streched-link" href="#"></a>
                                <img src="{% static "vsc-no-track/example.png" %}" class="card-img-top d-none d-md-block" alt="Test alt">
                                <div class="card-body text-center">
                                    <h5 class="card-title"> Topic </h5>
                                    <!-- <p class="card-text">Extra Text</p> -->
                                </div>
                            </div>
                        </div>
                        <!-- End Card Col-->




                    </div>
                    <!-- End Row of 3 Cards -->

                </section>
                <!-- End Section -->

                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">

                <!-- Start Section -->
                <section class="algo-sec">


                    <!-- Start Section Text-->
                    <div class="container mb-1">
                        <h3 class="font-weight-bold" id="algorithms-sec">Algorithms</h3>

                    </div>
                    <hr class="clearfix">
                    <!-- End Section Text-->

                    <!-- Start Row of 3 Cards -->
                    <div class="row container my-3">

                        <!-- Start Card Col-->
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="card">
                                <a class="streched-link" href="#"></a>
                                <img src="{% static "vsc-no-track/example.png" %}"  class="card-img-top d-none d-md-block" alt="Test alt">
                                <div class="card-body text-center">
                                    <h5 class="card-title"> Topic </h5>
                                    <!-- <p class="card-text">Extra Text</p> -->
                                </div>
                            </div>
                        </div>
                        <!-- End Card Col-->

                        <!-- Start Card Col-->
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="card">
                                <a class="streched-link" href="#"></a>
                                <img src="{% static "vsc-no-track/example.png" %}" class="card-img-top d-none d-md-block" alt="Test alt">
                                <div class="card-body text-center">
                                    <h5 class="card-title"> Topic </h5>
                                    <!-- <p class="card-text">Extra Text</p> -->
                                </div>
                            </div>
                        </div>
                        <!-- End Card Col-->

                        <!-- Start Card Col-->
                        <div class="col-md-4 mb-3 mb-md-0">
                            <div class="card">
                                <a class="streched-link" href="#"></a>
                                <img src="{% static "vsc-no-track/example.png" %}" class="card-img-top d-none d-md-block" alt="Test alt">
                                <div class="card-body text-center">
                                    <h5 class="card-title"> Topic </h5>
                                    <!-- <p class="card-text">Extra Text</p> -->
                                </div>
                            </div>
                        </div>
                        <!-- End Card Col-->




                    </div>
                    <!-- End Row of 3 Cards -->

                </section>
                <!-- End Section -->

                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">
                <hr class="my-5">

            </div>
            <!-- End Category Selection -->


        </div>
        <!-- End Main Page Row -->



    </section>
    <!-- End Main Page Content -->
{% endblock main_content %}