

            <!-- Start Left Side Nav  
            This Section of code is licenced under the MIT LICENCE -->
            
                <nav id="l-sidebar" class="sidebar {{ sticky_top }}  ">

                    <!-- Start Side Nav Contents -->
                    <ul class="list-unstyled menu">
                        <!-- <p>Categories</p> -->
                        <div class="container text-center">
                            <h4 class="text-muted">{{ sideNavTitle }}</h4>
                        </div>

                        {% for category in categories %}
                        <!-- Start Side(left) Nav Element -->
                        <li class="active menu-item">
                            <div class="d-flex sidebar-link" href="#{{category.name|slugify}}-submenu" data-toggle="collapse" aria-expanded="true">

                                <a href="#{{category.name|slugify}}-sec" class=" flex-grow-1 text-muted">{{ category.name }}</a>
                                <i class="fas fa-angle-up text-muted d-flex align-items-center justify-content-center"></i>
                            </div>


                            {% if categoryItems  %}
                            
                            <!-- Start Side(left) Nav Element Submenu -->
                            <ul class="list-unstyled menu collapsed show" id="{{category.name|slugify}}-submenu">
                                {% for categoryItem in categoryItems %}
                                {% if categoryItem.category.id == category.id %}
                                <li class="menu-item"><a href="#" class="sidebar-link">{{categoryItem.itemName}}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            <!-- Start Side(left) Nav Element Submenu -->
                            {% endif %}
                        </li>
                        <!-- End Side(left) Nav Element  -->
                        {% endfor %}


                    </ul>
                    <!-- End Side(left) Nav Contents -->
                </nav>
            <!-- End Left Side Nav and MIT LICENCED CODE-->