

            <!-- Start Left Side Nav  
            This Section of code is licenced under the MIT LICENCE -->
            
                <nav id="l-sidebar" class="sidebar sticky-top">
                    <div class="sidebar-header">
                        <h3>Select a Category</h3>
                    </div>

                    <!-- Start Side Nav Contents -->
                    <ul class="list-unstyled menu">
                        <!-- <p>Categories</p> -->
                        <div class="container text-center">
                            <h4 class="text-muted">Learn Topic</h4>
                        </div>

                        <!-- Start Side(left) Nav Element -->
                        <li class="active menu-item">
                            <div class="d-flex sidebar-link" href="#data-structures-submenu" data-toggle="collapse" aria-expanded="false">

                                <a href="#data-structures-sec" class=" flex-grow-1 text-muted">Data Structures</a>
                                <i class="fas fa-angle-down text-muted d-flex align-items-center justify-content-center"></i>
                            </div>

                            <!-- Start Side(left) Nav Element Submenu -->
                            <ul class="list-unstyled menu collapse" id="data-structures-submenu">
                                <li class="menu-item"><a href="#" class="sidebar-link">Test</a></li>
                                <li class="menu-item active"><a href="#" class="sidebar-link">Test</a></li>
                                <li class="menu-item"><a href="#" class="sidebar-link">Test</a></li>
                                <li class="menu-item"><a href="#" class="sidebar-link">Test</a></li>
                            </ul>
                            <!-- Start Side(left) Nav Element Submenu -->
                        </li>
                        <!-- End Side(left) Nav Element  -->

                        <!-- Start Side(left) Nav Element -->
                        <li class="menu-item">
                            <div class="d-flex sidebar-link" href="#algorithms-submenu" data-toggle="collapse" aria-expanded="false">

                                <a href="#algorithms-sec" class="flex-grow-1 text-muted">Algorithms</a>
                                <i class="fas fa-angle-down text-muted d-flex align-items-center justify-content-center"></i>

                            </div>
                            <!-- Start Side(left) Nav Element Submenu -->
                            <ul class="collapse list-unstyled menu" id="algorithms-submenu">
                                <li class="menu-item"><a href="#" class="sidebar-link">Test</a></li>
                                <li class="menu-item"><a href="#" class="sidebar-link">Test</a></li>
                                <li class="menu-item"><a href="#" class="sidebar-link">Test</a></li>
                                <li class="menu-item"><a href="#" class="sidebar-link">Test</a></li>
                            </ul>
                            <!-- Start Side(left) Nav Element Submenu -->
                        </li>
                        <!-- End Side(left) Nav Element  -->

                        <!-- Start Side(left) Nav Element -->
                        <li class="menu-item">
                            <div class="d-flex">
                                <div class="flex-grow-1"><a href="#ssubmenu" class="sidebar-link">Test</a></div>

                            </div>

                        </li>
                        <!-- End Side(left) Nav Element  -->


                    </ul>
                    <!-- End Side(left) Nav Contents -->
                </nav>
            <!-- End Left Side Nav and MIT LICENCED CODE-->