{% extends "base.html" %}
{% load static %}

{% block head %}
    <title> Algo Roots | Practice - Categories</title>
{% endblock head %}

{% block main_content %}


    <!-- Start Main Page Content -->
    <section class="container mt-0 mt-md-5">
        <!-- Start Main Page Row -->
        <div class="row">

            <div class="col-md-3 ">
                {% include "left-sidenav.html" with sideNavTitle="Practice Category"  categories=categories categoryItem=categoryItem%}
            </div>


            <!-- Category Selection -->
            <div class="col-md-9 mb-3">



                {% for category in categories %}
                
                <!-- Start Section -->
                <section class="{{category.name|slugify}}-section">


                    <!-- Start Section Text-->
                    <div class="container mb-1" id="{{category.name|slugify}}-sec">
                        <h3 class="font-weight-bold" >{{ category.name }}</h3>
                    </div>
                    <hr class="clearfix">
                    <!-- End Section Text-->

                    {% for categoryGroup in  categoryGroups%}
                    
                    
                    

                    <ul class="list-group list-group-flush">
                        
                        {% for group in categoryGroup %}    
                        {% if group.category.name == category.name %}
                    
                        <a href="#"><li class="list-group-item">{{ group.itemName }}</li></a>
                        
                        {% endif %}
                        {% endfor %}

                    </ul>
                    {% endfor %}

                </section>
                <!-- End Section -->
                {% endfor %}


            </div>
            <!-- End Category Selection -->


        </div>
        <!-- End Main Page Row -->



    </section>
    <!-- End Main Page Content -->
{% endblock main_content %}