{% extends "base.html" %}
{% load static %}

{% block head %}
    <title> Algo Roots | Practice - Categories</title>
{% endblock head %}

{% block main_content %}


    <!-- Start Main Page Content -->
    <section class="container mt-0 mt-md-5">
        <!-- Start Main Page Row -->
        <div class="row">

            <div class="col-md-3 ">
                {% include "left-sidenav.html" with sideNavTitle="Practice Category" sticky_top="sticky-top" categories=categories categoryItem=categoryItem%}
            </div>


            <!-- Category Selection -->
            <div class="col-md-9 mb-3">



                {% for category in categories %}
                
                <!-- Start Section -->
                <section class="{{category.name|slugify}}-section">


                    <!-- Start Section Text-->
                    <div class="container mb-1" id="{{category.name|slugify}}-sec">
                        <h3 class="font-weight-bold" >{{ category.name }}</h3>
                    </div>
                    <hr class="clearfix">
                    <!-- End Section Text-->

                    {% for categoryGroup in  categoryGroups%}
                    
                    
                    <!-- Start Row of 3 Cards -->
                    <div class="row container my-3">

                        
                        
                        {% for group in categoryGroup %}
                        
                        {% if group.category.name == category.name%}

                        <!-- Start Card Col-->
                        <div class="col-md-4 mb-3 mb-md-0" >
                            <div class="card" href="#">
                                <img src="{% static "vsc-no-track/example.png" %}" class="card-img-top d-none d-md-block" alt="Test alt">
                                <div class="card-body text-center">
                                    <h5 class="card-title">{{ group.itemName }} </h5>
                                    <!-- <p class="card-text">Extra Text</p> -->
                                </div>
                            </div>
                        </div>
                        <!-- End Card Col-->


                        {% endif %}
                        {% endfor %}
                        

                    </div>
                    <!-- End Row of 3 Cards -->
                    {% endfor %}

                </section>
                <!-- End Section -->
                {% endfor %}


            </div>
            <!-- End Category Selection -->


        </div>
        <!-- End Main Page Row -->



    </section>
    <!-- End Main Page Content -->
{% endblock main_content %}